/* Root Definitions */
:root {
    /* Primitives */
    --green:            #A2C5AC;
    --blue_light:       #9DB5B2;
    --blue_dark:        #878E99;
    --purple:           #7F6A93;
    --grey:             #D3D5D4;
    --dark_grey:        #4d4d4d;

    /* Tokens */
    --colorOne: var(--green);
    --colorTwo: var(--blue_light);
    --colorThree: var(--blue_dark);
    --colorFour: var(--purple);
    --bg: var(--grey);
    --white_space: rgb(255, 255, 255, 50%);
    --scrollbar_color: var(--colorOne);

    /* Element Specific Tokens */
    --navbarcolor: var(--raisin_black); 
    
    /* Background Tiles  */
    --tile1: url('/assets/images/BGTile1.png');
    --tile2: url('/assets/images/BGTile2.png');
    --tile3: url('/assets/images/BGTile3.png');

    --bgTile: var(--tile1);

    --font: 'Inter', sans-serif;
    --font_weight: 400;
    --letter-spacing: normal;
    font-size: 24px;

    --cursor_per: url(images/cursor_per.png);
    --cursor: var(--cursor_pro);

    --page-width: calc(769px - 20px);
    --selfie-width: calc(var(--page-width) * .25);
    --border-radius: 20px;
}
/* Page dependent styling */
.home {
    --navbarcolor: var(--colorOne)
}
.portfolio {
    --navbarcolor: var(--colorTwo)
}
.skills {
    --navbarcolor: var(--colorThree)
}
.contact {
    --navbarcolor: var(--colorFour)
}
/* Color Groups. Apply background color directly to elements  */
.colorOne {
    background-color: var(--colorOne);
}
.colorTwo {
    background-color: var(--colorTwo);
}
.colorThree {
    background-color: var(--colorThree);
}
.colorFour {
    background-color: var(--colorFour);
}
/* Disable Element Specific Cursor Options  */
body, button, a {
    cursor: var(--cursor), default;
}
/* Body Styling */
body {
    background-color: var(--bg);
    background-image: var(--bgTile); 
    background-repeat: repeat; /* Tiles the image in both x and y directions */
    background-size: 50px 50px; /* Controls the size of each tile */
    background-position: top; /* Adjusts the position of the background */

    margin: 0px; /* Remove default body margin */

    overflow-y: auto;
    overscroll-behavior: none;
    display: none; /* Initially hide the body */
}
body.visible {
    display: grid; /* Show body after JavaScript runs */
    grid-template-rows: auto auto;
    justify-content: center;
}
body::before {
    content: "";
    position: fixed; /* Ensures overlay is fixed to the viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Use viewport width */
    height: 100vh; /* Use viewport height */
    background-color: rgba(211, 213, 212, 0.6); /* Use rgba for better control */
    z-index: 0; /* Place it behind content but above any backgrounds */
    pointer-events: none; /* Prevent the overlay from blocking interactions */
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1.25vh;
    height: 1.25vh;
}
::-webkit-scrollbar-track {
    background: rgb(from var(--scrollbar_color) calc(r - 40) calc(g - 40) calc(b - 40) / 40%);
    border-radius: 100vh;
    margin: 1vh; /* Remove margin to let thumb go to the edge */
}
::-webkit-scrollbar-thumb {
    background: rgb(from var(--scrollbar_color) calc(r - 40) calc(g - 40) calc(b - 40) / 80%);
    border-radius: 100vh;
    border: .3vh solid rgba(0, 0, 0, 0.1);
}
/* Move elements to the left to stop scrollbar jumping */
@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}
/* Disable Default Styling for A elements */
a, button {
    text-decoration: none;
    border: none;
}

/* Rotating Caret */
.collapse-icon {
  transition: transform 0.3s ease-in-out;
}
.collapse-icon.rotated {
  transform: rotate(-180deg);
}

/* Styles elements in .layered or .inline-layerer groups to default on top of one another */
/* for block elements */
.layered {
    display: grid;
    width: 100%;
    min-width: fit-content;
}
.layered  > *, .btnGroup > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
/* or for inline elements */
.inline-layered {
    display: inline-grid;
}
.inline-layered > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
/* Sets text styles and defines commonly used text sizes */
.text {
    font-family: var(--font);
    font-weight: var(--font_weight);
    letter-spacing: var(--letter-spacing);
    width: fit-content;
    height: fit-content;
}
.header {
    font-size: 2rem;
}
.subheader {
    font-size: 1.2rem;
}
.subtext {
    font-size: 1rem;
}
.subtext-small {
    font-size: .8rem;
}
.professional.text {
    font-family: var(--font-pro);
}
.personal.text {
    font-family: var(--font-per);
}
.bold {
    font-weight: 800;
}
.underline {
    position: relative;
    z-index: 1;
    padding: 0 0.4em;
    background: transparent;
}
.underline::before {
    content: "";
    position: absolute;
    top: 40%;
    /* vertical offset */
    left: 1px;
    /* horizontal offset */
    width: 100%;
    height: 50%;
    background: var(--white_space);
    border-radius: 3px;
    z-index: -1;
    /* ensures it's behind the text */
}

/* Dialogue Element Styling */
dialog {
    border: none;
}
/* Horizontal Rule Element Styling */
hr {
    width: 100%;
}
.item-bg {
background-color: var(--white_space);
display: flex;
overflow: hidden;
padding: 2%;
padding-top: 5%;
margin-top: 5%;
max-height: 500px;
}
.textbox {
width: fit-content;
padding: 1% 2%;
margin: 1%;
background-color: var(--white_space);
border-radius: 3px;
}

/* Display Classes */
.grid {
    display: grid;
}
.flex {
    display: flex;
}

/* This css is to disable highlights from certain text. This can remove from ux */
.no-select, .page {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

/* Styles shadowed elements */
.shadowed_text {
    text-shadow: -2px 2px 0px rgba(0, 0, 0, .3);
}
.shadowed_box {
    box-shadow: -3px 3px 0px rgba(0, 0, 0, .3);
}
.shadowed_box_blurred, .box {
    box-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
}

/* Component "Page" Styling */
.page {
    width: var(--page-width);
    min-width: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    padding: 10px;
    overflow: hidden;
}

/* Component "Section" Styling */
.section {
    position: relative;
    width: 100%;
}
#nav {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    gap: 2%;
    position: sticky;
    top: 0px;
    padding: 10px;
    padding-bottom: 0px;
    z-index: 2;
    transition: backdrop-filter 0.3s ease; /* Blur effect */
}
#nav.scrolled {
    backdrop-filter: blur(3px);
    /* This creates the feathered edge at the bottom */
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    
    /* For better browser compatibility */
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}
/* Component "Subsection" Styling */
.subsection {
display: grid;
grid-auto-columns: 4fr 1fr;
grid-auto-rows: 1fr 4fr;
gap: 15px;
width: 100%;
}
/* Component "Box" Styling */
.box {
    border-radius: var(--border-radius);
    flex: 1;
    padding: 15px;
}
/* Specific Box Styling */
#nav .box {
background-color: var(--navbarcolor);
display: flex;
flex-direction: row;
gap: 20px; /* Spacing between buttons */
}
#title-box {
display: grid;
grid-template-columns: 3fr 1fr;
grid-template-rows: 1fr min-content;
align-items: end;
}
#search-bar {
display: grid;
    grid-template-columns: min-content auto;
}
#filter-bar {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    gap: 5px;
}
#results-box {
padding-top: 0;
}
.itemsContainer.results-box .item {
display: grid;
width: 100%;
gap: 5px;
grid-template-areas:
    'two two'
    'three three'
    'four four';
justify-content: start;
}
#expName {
grid-area: two;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
align-items: baseline;
gap: 5px;
height: fit-content;
}
#expTags {
grid-area: three;
display: flex;
width: fit-content;
gap: 5px;
flex-wrap: wrap;
}
#expBlurb {
grid-area: four;
}

/* Signature styling and Padding Div */
#signature, #paddingDiv {
width: 90px;  /* Use the common width variable */
height: auto;  /* Maintain aspect ratio */
}

/* Button styles */
.btnGroup {
justify-items: center;
}
.btn {
background-color: var(--white_space);
width: 100%;
}
#ptheme-bar .btnGroup:hover {
    background-color: rgb(255, 255, 255, 70%);
}
.btn.nav {
width: 100%;
margin-top: 8.5%;
height: 60%;
transition: background-color 0.3s ease;
border-radius: 3px;
}

/* Styling for pressed buttons. */
.pressed {
transform: translateY(3px);
}
.pressed .shadowed_box {
box-shadow: none;
}
.pressed span, .pressed .shadowed_text {
text-shadow: none;
}
/* Vertical Line */
.vline {
    width: 2px;
    height: 100%;
    background-color: var(--white_space);
    border-radius: 2px;
    margin-inline: 5px;
  }

.btnGroup.home:hover #homeBtn {
background-color: var(--colorOne);
}
.btnGroup.portfolio:hover #portfolioBtn {
background-color: var(--colorTwo);
}
.btnGroup.skills:hover #skillsBtn {
background-color: var(--colorThree);
}
.btnGroup.contact:hover #contactBtn {
background-color: var(--colorFour);
}

/* Title section styles */
#selfie {
    width: var(--selfie-width);
    object-fit: cover;
    justify-self: end;
    grid-row-start: span 2;
    border-radius: 5px;
    height: 240px;
}
#quote {
    grid-row-start: 2;
}
.itemsContainer.results-box {
display: grid;
gap: 10px;
padding-inline: 3%;
height: 500px;
overflow-y: scroll;
align-content: baseline;
}
.skillContainer {
    display: flex; flex-wrap: wrap;
}
.skill {
    flex-basis: 100%;
}
/* --- SKILL HOVER EFFECT --- */
/* Style for individual skill items */
.skill {
  /* Define the transition on the base element for smooth in and out effects */
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Apply the hover effect using the :hover pseudo-class */
.skill:hover {
  background-color: hsla(0, 0%, 100%, .1); /* Using a subtle highlight */
  transform: scale(1.02);
}

.tagsContainer {
display: flex;
gap: 5px;
flex-basis: content;
justify-content: flex-start;
}
#tagsContainer {
    padding-block: 5px;
    --scrollbar_color : var(--colorFour);
    overflow-x: scroll;
}
.tag.selected {
background-color: rgb(255, 255, 255, 0.8);
}

/* WhatIDo section styles */
.whatIDo .item {
justify-items: center;
}
.whatIDo .card {
    display: grid;
    background-color: var(--bg);
    width: 150px;
    height: 250px;
    border-radius: 5px;
    align-items: center;
    justify-items: center;
}
.image.whatIDo {
width: 30%;
border: none;
}

/* Contact Card section styles */
.textbox.contact-card {
    display: flex;
    flex-direction: row;
    width: auto;
    }
.itemsContainer.contact-card {
display: flex;
flex-direction: row;
flex: auto;
justify-content: space-around;
}
.itemsContainer.contact-card .item {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.socialIcons {
    width: 60px;
    height: 60px;
}
.tag{
background-color: var(--white_space);
border-radius: 100vh;
width: max-content;
padding: 1px 10px;
text-align: center;
align-content: center;
}
#search-bar input {
border: none;
outline: none;
width: 100%;
}

#pthemeSearch-Expanded {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content min-content 1fr;
    gap: 15px;
    width: 100%;
}

/* Project Demo Styles (iframe) */
#projectDemo {
    border: none;
}

/* Loading Animation */
.loadingMessage {
    align-self: center;
    justify-self: center;
    display: block;
    font-size: 16px;
    text-align: center;
}
.loadingMessage::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px auto;
    border: 3px solid #ccc;
    border-top-color: #000000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Butterfly Effects */
/* Wing flapping effect */
@keyframes flap {
    0% { 
        opacity: 100%;
    }
    100% { 
        opacity: 10%;
    }
}
/* rainbow effect */
@keyframes rainbow {
    0% { 
        stroke: #000000;
    }
    10% { 
        stroke: #cf5050;
    }
    20% { 
        stroke: #cfb450;
    }
    30% { 
        stroke: #a0cf50;
    }
    40% { 
        stroke: #50cf98;
    }
    50% { 
        stroke: #50b1cf;
    }
    60% { 
        stroke: #6e50cf;
    }
    70% { 
        stroke: #9a50cf;
    }
    80% { 
        stroke: #cf50ad;
    }
    90% { 
        stroke: #cf507c;
    }
    100% { 
        stroke: #372929;
    }
}
/* Butterfly Flying Away */
@keyframes flyAway {
    0% { transform: translateX(0) translateY(0) scale(1); }
    100% { transform: translateX(-50px) translateY(-50px) scale(0); }
}

/* Apply animations */
#butterfly.flutter #butterflyUpFlap {
    animation: flap .4s infinite alternate, rainbow 1.6s infinite normal;
}
#butterfly.flutter #butterflyDownFlap {
    animation: flap .4s infinite alternate-reverse, rainbow 1.6s infinite normal;
}
/* Fly Away Effect: Runs Even After Hover Ends */
#butterfly.active {
    animation: flyAway 5s ease-in-out forwards;
}
/* Apply animations */
#butterfly.active #butterflyUpFlap {
    animation: flap .4s infinite alternate, rainbow 1.6s infinite normal;
}
#butterfly.active #butterflyDownFlap {
    animation: flap .4s infinite alternate-reverse, rainbow 1.6s infinite normal;
}

/* Collapsible animations */
.expandable {
overflow: hidden;
transition: max-height .3s ease;
max-height: 0;
}

.expandable.expanded {
max-height: max-content; /* adjust based on content */
}

/* Class "Hidden" used for disabling elements */
.hidden {
display: none !important;
grid-row: none !important;
}
